* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

/* header */
header {
  width: 100%;
  background: #290742;
  border-bottom: #4fff4b 4px solid;
}

/* nav  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px 30px 70px;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  color: #fff;
  text-decoration: none;
  padding-left: 3px;
}

.link:hover {
  border-left: #4fff4b 2px solid;
}

.input-button {
  display: flex;
  align-items: center;
}

.input {
  border: none;
  background: #170027;
  height: 25px;
  width: 150px;
  color: #fff;
  padding-left: 10px;
}

.input::placeholder {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: .7rem;
  color: #fff;
}

.button {
  border: none;
  background: #9e6dc2;
  height: 24px;
  width: 35px;
  border-radius: 0px 2px 2px 0px;
  background-image: url(./images/search.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 50%;
  cursor: pointer;
}

.text-group-featured-image {
  display: flex;
  justify-content: space-between;
  padding: 6px 70px 30px 70px;
  gap: 60px;
}

.h1 {
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif; 
  color: #9e6dc2;
}

.lorem {
  font-family: 'Roboto', sans-serif; 
  font-weight: 100;
  font-size: .7em;
  color: #fff;
  line-height: 150%;
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-see-more {
  display: flex;
  align-items: center;
  color: #9e6dc2;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-size: .7em;
  gap: 8px;
  width: 72px;
}

.link-see-more:hover {
  border-bottom: 1px solid #4fff4b;
}

.featured-image {
  min-height: 20vh;

  width: 30vw;
  min-width: 310px;
  
  object-fit: cover;
}

/* main  */
main {
  padding: 30px 30px 0px 70px;
}

.img-left {
  height: 190px;
}

.post-1 {
  width: 42vw;
}

.figcaption {
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-size: .7em;
  opacity: .8;
}

.h2 {
  font-family: 'Roboto', sans-serif; 
  font-weight: 900;
  font-size: .8em;
  margin-top: 7px;
}

.text-post {
  margin-top: 8px;
  font-size: .7em;
}

.top-post {
  display: flex;
  justify-content: space-between;
}

.side-post {
  display: flex;
  flex-direction: column;
  width: 37vw;
}

.side {
  margin-top: 20px;
}

/* bottom posts  */

.bot-posts {
  display: flex;
  gap: 18px;
  margin: 20px 30px 0px 0px;
  width: 100%;
}

.post {
  height: 25vh;
  width: 100%;
}

@media (max-width: 2560px) {
  .post {
    height: 60vh;
  }

  .img-left {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  .post {
    height: 25vh;
  }

  .img-left {
    height: 25vh;
  }
}

@media (max-width: 1024px) {
  .post {
    height: 40vh;
  }

  .img-left {
    height: 25vh;
  }
}

@media (max-width: 1440px) {
  .post {
    height: 40vh;
  }

  .img-left {
    height: 30vh;
  }
}

@media (max-width: 631px) {
  .post {
    height: 25vh;
  }

  .img-left {
    height: 25vh;
  }
}


@media (max-width: 950px) {
  .post-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .side-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 10px;
  }

  .top-post {
    flex-direction: column;
    align-items: center;
  }

  .bot-posts {
    flex-direction: column;
    align-items: center;
  }

  .post {
    width: 60%;
  }
}

@media (max-width: 730px) {
  .link {
    opacity: 0;
  }
}

@media (max-width: 650px) {
  .links {
    width: 0;
  }
}

@media (max-width: 580px) {
  .featured-image {
    width: auto;
  }

  header {
    display: flex;
    flex-direction: column;
  }
}
